* {
    font-family: sans-serif;
    margin: 0;
  }
  button {
    height: 40px;
    width: 200px;
  }
  .warning {
    background-color: red;
    text-align: center;
    width: 100%;
    padding: 10px;
  
    font-size: 14pt;
    color: white;
  }